body{
  background-color: #0a2a5a;
}
/*star image*/
span svg {
  width: 13px; 
  height: 13px; 
  background-color: transparent;
}
a span{
  background-color: blueviolet;
}
.link-github{
  background-color: blueviolet;
  border-radius: 2em;
  padding: 10px;
}
.skip-link{
  position: fixed;
  display: none;
  text-align: center;
}
h1{
  text-align: center;
  font-size: 150px;
  color: #dd00ff;
}
header h2{
  text-align: center;
  background-image: linear-gradient(to right top, #0a2a5a, #23388c, #563fbb, #953ae2, #dd00ff);
  border-radius: 5em;
}
header p{
  text-align: center;
}
p a{
  text-decoration: none;
  color: #000;
}
nav{
  text-align: center;
}
nav ul{
  list-style-type: none;
  padding: 10px;
  background-image: linear-gradient(to bottom, #4e0c0c, #81002a, #b3005b, #d700a3, #dd00ff);
}
nav li{
  display: inline;
  margin: 20px;
  background-color: #e100ff;
  border-radius: 5em;
  padding: 0.5em;
}
nav a{
  text-decoration: none;
  color: black;
  
}
nav li:hover{
  background-color: #81002a;
}
.container #about{
  background-color: white;
  color: #8800f8;
}
#about{
  columns: 2;
  display: flex;
}
.container h2{
  font-size: 30px;
}

a[href="/styles/"] {
  color: #8800f8;
}
.container #about .container p a {
  color: #8800f8;
}
#about .container:nth-child(2){
  background-color: #000;
  border-radius: 5em;
  padding: 1em;
}